/* <-------------------- @media screen and (max-width:1999px) --------------------> */
@media screen and (max-width:1999px) {
	.bm-card img {
		margin-top: 105px;
	}
}

/* <-------------------- @media screen and (max-width:1580px) --------------------> */
@media screen and (max-width:1580px) {

	/* .menu-gnb hover */
	.menu-gnb ul {
		padding: 0;
		width: 575px;
	}

	.menu-gnb ul li {
		position: relative;
		overflow: hidden;
		transition: 0.4s;
	}

	.menu-gnb ul li::before {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 0%;
		background-color: #17633D;
		z-index: -1;
		transition: 1.5s;
		border-radius: 30% 30% 0 0;
	}

	.menu-gnb ul li:hover {
		background: none;
	}

	.menu-gnb ul li:hover::before {
		height: 180%;
	}

	.menu-gnb ul li a:hover {
		width: 75px;
		background: none;
	}

	.menu-gnb ul li a:hover span {
		bottom: 60px;
		left: 15px;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
	}

	.bm-inner,
	.bm-title {
		height: 1351px;
	}

	.bm-card {
		width: 50%;
	}

	.bm-card {
		height: 450px;
	}

	.bm-card img {
		margin-top: 45px;
	}
}

/* <-------------------- @media screen and (max-width:1424px) --------------------> */
@media screen and (max-width:1424px) {

	/* expln */
	.expln-inner {
		display: none;
	}

	/* bottom_img */
	.bottom_img {
		display: none;
	}

	/* slide */
	.slide-img img {
		width: 530px;
	}

	.img1,
	.img2,
	.img3 {
		top: -130px;
	}

	.slide-contents .contents div h2 {
		font-size: 50px;
	}

	.slide-btn {
		left: 50%;
	}

	input[id=tab1]:checked~.slide-contents .slide1,
	input[id=tab2]:checked~.slide-contents .slide2 {
		left: 45%;
	}

	input[id=tab3]:checked~.slide-contents .slide3 {
		left: 41%;
	}

	/* best-menu width */
	.bm-title {
		width: 540px;
	}

	.bm-item {
		width: calc(100% - 540px);
	}

	/* guide li hover */
	.guide-inner {
		height: 700px;
	}

	.guide-inner ul {
		position: static;
		left: 0;
		transform: translate(0);
		width: 100%;
		padding: 0;
	}

	.guide-inner li {
		width: 50%;
		height: 350px;
		margin-right: 0;
		overflow: hidden;
	}

	.guide-inner li::before {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 0%;
		background-color: #17633D;
		z-index: -1;
		transition: 0.7s;
		border-radius: 50% 50% 0 0;
	}

	.guide-inner li:hover {
		transform: translate(0, 0);
		color: white;
	}

	.guide-inner li:hover::before {
		height: 190%;
	}

	.guide-inner li:hover p {
		color: white;
	}

	.guide-inner li:hover a.btn {
		background-color: white;
		color: #17633D;
	}

	.guide-inner li .card-img {
		margin-top: 35px;
	}

	.guide-inner li .card img {
		height: 85px;
	}

	.guide-inner li .img-bg {
		position: absolute;
		top: -15px;
		left: 50%;
		transform: translate(-50%);
		display: block;
		background-color: white;
		width: 115px;
		height: 115px;
		border-radius: 35%;
	}

	.guide-inner li .card p {
		padding: 0 15px;
		font-size: 13px;
	}

	.guide-inner li .card a.btn {
		bottom: 35px;
	}
}

/* <-------------------- @media screen and (max-width:1199px) --------------------> */
@media screen and (max-width:1199px) {
	.overlay {
		position: fixed;
		width: 100%;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.4);
		opacity: 0;
		visibility: hidden;
		transition: 0.5s;
		z-index: 99999;
	}

	.overlay.active {
		opacity: 1;
		visibility: visible;
	}

	header,
	.header-inner {
		height: 80px;
	}

	.header-inner .logo {
		padding: 5px 20px;
		float: left;
	}

	.header-inner .logo a {
		text-align: left;
	}

	.header-inner .trigger {
		display: block;
		width: 40%;
		height: 84px;
		z-index: 999999;
		float: right;
	}

	.header-inner .trigger.active {
		position: fixed;
		right: 0;
		top: 0;
	}

	.header-inner .trigger i {
		float: right;
		margin-right: 20px;
		font-size: 45px;
		line-height: 84px;
		color: #17633D;
	}

	.header-inner .gnb {
		position: fixed;
		right: -40%;
		top: 0;
		height: 100%;
		width: 40%;
		z-index: 99999;
		transition: 0.5s;
	}

	.header-inner .gnb.active {
		right: 0px;
	}

	.header-inner .menu-items {
		width: 100%;
		height: 100%;
		padding: 86px 0 0 0;
	}

	.header-inner .menu-items li {
		float: none;
		text-align: right;
		padding: 15px 20px;
	}

	.header-inner .menu-items li a:hover {
		color: #17633D;
		font-weight: 700;
	}

	.header-inner .menu-items li a::after {
		display: none;
	}

	.slide-img img {
		width: 450px;
	}

	.img1,
	.img2,
	.img3 {
		top: -105px;
		left: -10px;
	}

	.slide-btn {
		left: 42%;
	}

	input[id=tab1]:checked~.slide-contents .slide1,
	input[id=tab2]:checked~.slide-contents .slide2,
	input[id=tab3]:checked~.slide-contents .slide3 {
		left: 35%;
	}

	.slide-contents .slide3 div h2 {
		width: 50%;
	}

	.bm-title {
		width: 400px;
	}

	.bm-title h2 {
		padding-top: 100%;
	}

	.bm-item {
		width: calc(100% - 400px);
	}
}

/* <-------------------- @media screen and (max-width:899px) --------------------> */
/* 모바일 가로, 타블렛 세로 */
@media screen and (max-width:899px) {
	section.slide {
		height: auto;
	}

	.slide-bg,
	.slide-bgColor {
		display: none;
	}

	.resizing-slide {
		display: block !important;
	}

	.resizing-slide img {
		width: 100%;
		height: auto;
		display: block;
	}

	.slick-dotted.slick-slider {
		margin-bottom: 0px !important;
	}

	.slick-dots {
		bottom: 8px !important;
	}

	/* Best menu */
	.bm-inner,
	.bm-title {
		height: 1486px;
	}

	.bm-title {
		width: 100%;
		height: 135px;
		background-image: url(../img/bm_img_rotate.png);
		background-position: 0% 80%;
	}

	.bm-title h2 {
		margin: 0;
		padding-top: 13px;
		font-size: 40px;
	}

	.bm-item {
		width: 100%;
	}

	.bm-title .bm-btn {
		display: none;
	}

	/* guide */
	.guide-inner {
		height: 1019px;
	}

	.guide-inner li {
		width: 100%;
		height: 255px;
		text-align: left;
		padding: 0 30px;
	}

	.guide-inner li .card-img {
		float: left;
	}

	.guide-inner li .img-bg {
		left: -10px;
		transform: translate(0%);
	}

	.guide-inner li .card h3 {
		margin-top: 25px;
	}

	.guide-inner li .card p {
		white-space: normal;
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	.guide-inner li .card h3,
	.guide-inner li .card p {
		width: calc(100% - 130px);
		float: right;
		padding: 3px;
	}

	.foot-icon {
		display: none;
	}
}

/* <-------------------- @media screen and (max-width:599px) --------------------> */
/* 모바일 세로 */
@media screen and (max-width:599px) {
	.menu-title {
		margin-top: 50px;
	}

	.menu-gnb,
	.menu-inner hr {
		display: none;
	}

}